/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
  }
  
  /* Estilos de la cuadrícula de productos */
  dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  dt {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  dd {
    margin-bottom: 16px;
  }
  
  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }
  
  .btn-comprar {
    display: inline-block;
    padding: 5px 10px; /* Adjust the padding to change the size of the button */
    font-size: 1em; /* Adjust the font size of the button */
    text-align: center;
    text-decoration: none;
    margin: 50px;
    background-color: #4caf50;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s;
    height: 50px; /* Set a fixed height for the button */
    line-height: 20px; /* Match the line height to the height for vertical centering */
}

.btn-comprar:hover {
    background-color: #45a049;
}

  