.page-content {
  z-index: 1;
}
.index-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px;
    margin-right: 10px;
  }
  
  .site-name {
    font-size: 24px;
  }
  
  .search-container {
    position: relative;
    max-width: 1000px;
    flex-grow: 1;
  }
  
  .search-input {
    width: 100%;
    padding: 8px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    height: 40px;
  }

  .search-results {
    position: absolute;
    left: 0; /* Alinea a la izquierda de la ventana */
    right: 0; /* Alinea a la derecha de la ventana */
    top: 100%; /* Posiciona justo debajo del campo de búsqueda */
    background-color: #ffffffcc;
    white-space: nowrap;
    font-family: 'Anta', sans-serif;
    z-index: 1002;
    max-height: 400px; /* Altura suficiente para mostrar dos productos */
    overflow-y: auto; /* Permite desplazamiento vertical para ver más resultados */
    text-decoration: none;
  }

  .search-results a {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc; /* Separa visualmente los resultados */
  }
  
  .search-result-image {
    width: 100px; /* Ajusta según el tamaño deseado para las imágenes */
    height: 100px; /* Ajusta según el tamaño deseado para las imágenes */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
    object-fit: cover; /* Asegura que la imagen mantenga su aspecto */
  }

  .search-result-item  {
    display: flex;
    flex-direction: row;
    text-align: right;
    text-decoration: none;
    color: inherit;
  }

  .search-result-item span:hover {
    color: rgb(87, 209, 240);
    cursor: pointer;
  }

  .search-result-price {
    font-weight: bold;
    flex-grow: 1;
  }
  
  /* Personalización para navegadores basados en WebKit como Chrome y Safari */
.search-results::-webkit-scrollbar {
  width: 12px;
}

.search-results::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.search-results::-webkit-scrollbar-thumb {
  background: #888;
}

.search-results::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Personalización para Firefox */
.search-results {
  scrollbar-width: thin; /* "auto" o "thin" */
  scrollbar-color: #888 #f1f1f1; /* thumb y track */
}

  .user-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .admin-panel-icon,
  .user-profile-icon,
  .logout-icon,
  .login-icon,
  .register-icon {
    margin-left: 10px;
  }
  
  .username {
    margin-left: 5px;
  }

  .menu-container {
    position: relative;
    text-align: center;
    margin-top: 10px; /* Ajusta según sea necesario */
  }
  .menu-icon {
    cursor: pointer;
    width: 30px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
    display: inline-block; /* O cualquier otro estilo que necesites para alinear la imagen correctamente */
    margin-top: 10px; /* Ajusta según sea necesario */
  }
  .categories-container {
    width: 100%;
    visibility: hidden; /* Inicialmente oculto */
    opacity: 0; /* Inicialmente transparente */
    max-height: 0; /* Inicialmente sin altura */
    overflow: visible; /* Oculta el contenido que exceda la altura máxima */
    transition: visibility 0s, opacity 0.5s linear, max-height 0.5s ease-in-out; /* Transición suave */
    z-index: 100; /* Asegúrate de que el menú esté por encima de otros elementos */
  }
  .categories-container.visible {
    visibility: visible;
    opacity: 1;
    max-height: 500px; /* Altura máxima suficiente para mostrar todo el contenido del menú */
  }

  .categories-title {
    display: block;
    text-align: center;
    font-size: 24px; /* Ajusta el tamaño de la fuente según necesites */
    font-family: 'Black Ops One', cursive;
    margin: 10px 0; /* Añade un margen arriba y abajo */
    color: #333; /* Color del texto del título */
  }
  
  .categories-menu-displayed {
    display: flex; /* Usa flexbox para alinear las categorías horizontalmente */
    padding: 0;
    margin: 0;
    list-style-type: none; /* Elimina los estilos de lista por defecto */
  }

  .category-item {
    margin: 5px; /* Espacio entre categorías */
    list-style-type: none;
    text-align: left;
    position: relative;
    
  }
  
  .categories-container a {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(14, 3, 3); /* Color del texto para las categorías */
    font-family: 'Black Ops One', cursive;
    padding: 10px; /* Espacio alrededor del texto */
    border-radius: 5px; /* Bordes redondeados para los enlaces */
    text-align: center;
    font-size: larger;
  }

  .categories-container a:hover {
    color: rgb(87, 209, 240); /* Color del texto al pasar el ratón por encima */
  }  
  .category-item:hover > .subcategory-nav {
    visibility: visible; /* Hace visible el submenú */
    opacity: 1; /* Hace opaco el submenú */
    transition-delay: 0s; /* Aplica la transición inmediatamente */
  }
  
  
.category-item > a {
  padding-left: 10px; /* Asume que este es el padding aplicado a los enlaces de categoría */
  /* ... otros estilos de los enlaces de categoría ... */
}

  .subcategory-nav {
    display: block;
    position: absolute; /* con static empuja el contenido pero hay saltos bruscos */
    width: auto; /* Asegúrate de que el submenú se extienda a lo ancho de la ventana */
    z-index: 1002; /* Asegúrate de que el submenú esté por encima del menú de categorías */
    text-align: left;
    padding: 0;
    left: 0;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s linear; /* Transición suave */
    background-color: #ffffffcc ; /* Fondo blanco para el submenú */
    white-space: nowrap;
    min-width: 100%
  }
  
  .subcategory-nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none; /* Elimina los estilos de lista por defecto */
  }
  
  .subcategory-nav li {
    list-style-type: none;
    float: none;
    font-size: small;
  }
  .subcategory-nav li a {
    text-align: left; /* Alinea el texto a la izquierda */
    padding-left: 20px; /* Añade un poco de padding a la izquierda para que el texto no esté pegado al borde */
    padding: 10px; /* Espacio alrededor del texto */
    text-decoration: none;
    color: #333; /* Color del texto para las subcategorías */
    display: inline-block;
    padding-right: 20px;
  }
  
  .subcategory-nav li a:hover {
    color: rgb(87, 209, 240);
  }
  .productos-recomendados-titulo {
    font-family: 'Black Ops One', cursive;
    text-align: center;
    font-size: 28px; /* Ajusta el tamaño según necesites */
    margin: 20px 0; /* Espacio arriba y abajo del título */
  }
  
  .productos-recomendados-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    margin: auto;
  }
  .productos-recomendados-card {
    display: flex;
    overflow-x: hidden;
    flex-direction: row;
    flex-wrap: nowrap; /* Evita que los productos se ajusten en múltiples líneas */
    scroll-snap-type: x mandatory;
  }

  .producto-recomendado {
    flex: 0 0 auto;
    width: 200px; /* Ancho fijo para todas las cajas */
    height: 300px; /* Altura fija para todas las cajas */
    margin: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    overflow: hidden; /* Oculta el contenido que exceda el tamaño de la caja */
    scroll-snap-align: start;
  }
  
  .producto-recomendado-enlace {
    display: block; /* Asegúrate de que el enlace ocupe todo el espacio de la "caja" */
    margin: -1px; /* Ajusta el margen para que la imagen no rompa los bordes redondeados */
  }
  
  .producto-recomendado-imagen {
    width: 100%; /* Ajusta el ancho de la imagen al de la caja */
    height: 220px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .producto-recomendado-info {
    margin-top: 20px;
    padding: 0 10px; /* Espacio a los lados dentro de la "caja" */
  }
  
  .producto-recomendado-nombre {
    display: block;
    white-space: nowrap; /* Evita que el nombre se ajuste a una nueva línea */
    overflow: hidden; /* Oculta el contenido que exceda el ancho del elemento */
    text-overflow: ellipsis; /* Añade puntos suspensivos al final del contenido recortado */
    font-family: 'Anta', sans-serif;
  }
  
  .producto-recomendado-precio {
    display: block;
    font-weight: bold;
    font-family: 'Anta', sans-serif;
  }

  .carrusel-container-recommended {
    position: relative;
    width: 60%;
    margin: auto;
    overflow: hidden; /* Oculta los productos fuera del área visible */
    padding: 0 50px;
    max-width: calc(60% + 100px);
    z-index: 100;
  }
  .carrusel-flecha-izquierda,
  .carrusel-flecha-derecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
  }

  .carrusel-flecha-izquierda {
    left: 10px;
  }

  .carrusel-flecha-derecha {
    right: 10px;
  }