/* Media query para tablets */
@media (max-width: 768px) {
  .login_container {
    flex-direction: column;
    align-items: center;
  }

  .login-info,
  .login-form {
    max-width: 100%;
    padding: 1rem;
    border-right: none;
  }

  
}


@media (max-width: 480px) {
  .header-content-forms {
    padding: 10px 0;
  }

  .forms-logo {
    width: 120px; 
  }

  .login-info,
  .login-form {
    max-width: 100%;
    padding: 1rem;
  }

  .input-container,
  .input-container select,
  .input-container input {
    max-width: 100%;
  }

  
}

.page-content {
  z-index: 1;
}
.index-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px;
    margin-right: 10px;
  }
  
  .site-name {
    font-size: 24px;
  }
  
  .search-container {
    position: relative;
    max-width: 1000px;
    flex-grow: 1;
  }
  
  .search-input {
    width: 100%;
    padding: 8px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    height: 40px;
  }

  .search-results {
    position: absolute;
    left: 0; 
    right: 0; 
    top: 100%; 
    background-color: #ffffffcc;
    white-space: nowrap;
    font-family: 'Anta', sans-serif;
    z-index: 1002;
    max-height: 400px; 
    overflow-y: auto; 
    text-decoration: none;
  }

  .search-results a {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc; 
  }
  
  .search-result-image {
    width: 100px; 
    height: 100px; 
    margin-right: 10px; 
    object-fit: cover; 
  }

  .search-result-item  {
    display: flex;
    flex-direction: row;
    text-align: right;
    text-decoration: none;
    color: inherit;
  }

  .search-result-item span:hover {
    color: rgb(87, 209, 240);
    cursor: pointer;
  }

  .search-result-price {
    font-weight: bold;
    flex-grow: 1;
  }
  
  
.search-results::-webkit-scrollbar {
  width: 12px;
}

.search-results::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.search-results::-webkit-scrollbar-thumb {
  background: #888;
}

.search-results::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.search-results {
  scrollbar-width: thin; 
  scrollbar-color: #888 #f1f1f1; 
}

  .user-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .admin-panel-icon,
  .user-profile-icon,
  .logout-icon,
  .login-icon,
  .register-icon {
    margin-left: 10px;
  }
  
  .username {
    margin-left: 5px;
  }

  .menu-container {
    position: relative;
    text-align: center;
    margin-top: 10px; 
  }
  .menu-icon {
    cursor: pointer;
    width: 30px; 
    height: auto;
    display: inline-block; 
    margin-top: 10px; 
  }
  .categories-container {
    width: 100%;
    visibility: hidden; 
    opacity: 0; 
    max-height: 0; 
    overflow: visible; 
    transition: visibility 0s, opacity 0.5s linear, max-height 0.5s ease-in-out; 
    z-index: 100; 
  }
  .categories-container.visible {
    visibility: visible;
    opacity: 1;
    max-height: 500px; 
  }

  .categories-title {
    display: block;
    text-align: center;
    font-size: 24px; 
    font-family: 'Black Ops One', cursive;
    margin: 10px 0; 
    color: #333; 
  }
  
  .categories-menu-displayed {
    display: flex; 
    padding: 0;
    margin: 0;
    list-style-type: none; 
  }

  .category-item {
    margin: 5px; 
    list-style-type: none;
    text-align: left;
    position: relative;
    
  }
  
  .categories-container a {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(14, 3, 3); 
    font-family: 'Black Ops One', cursive;
    padding: 10px; 
    border-radius: 5px; 
    text-align: center;
    font-size: larger;
  }

  .categories-container a:hover {
    color: rgb(87, 209, 240); 
  }  
  .category-item:hover > .subcategory-nav {
    visibility: visible; 
    opacity: 1; 
    transition-delay: 0s; 
  }
  
  
.category-item > a {
  padding-left: 10px; 
  
}

  .subcategory-nav {
    display: block;
    position: absolute; 
    width: auto; 
    z-index: 1002; 
    text-align: left;
    padding: 0;
    left: 0;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s linear; 
    background-color: #ffffffcc ; 
    white-space: nowrap;
    min-width: 100%
  }
  
  .subcategory-nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none; 
  }
  
  .subcategory-nav li {
    list-style-type: none;
    float: none;
    font-size: small;
  }
  .subcategory-nav li a {
    text-align: left; 
    padding-left: 20px; 
    padding: 10px; 
    text-decoration: none;
    color: #333; 
    display: inline-block;
    padding-right: 20px;
  }
  
  .subcategory-nav li a:hover {
    color: rgb(87, 209, 240);
  }
  .productos-recomendados-titulo {
    font-family: 'Black Ops One', cursive;
    text-align: center;
    font-size: 28px; 
    margin: 20px 0; 
  }
  
  .productos-recomendados-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    margin: auto;
  }
  .productos-recomendados-card {
    display: flex;
    overflow-x: hidden;
    flex-direction: row;
    flex-wrap: nowrap; 
    scroll-snap-type: x mandatory;
  }

  .producto-recomendado {
    flex: 0 0 auto;
    width: 200px; 
    height: 300px; 
    margin: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    overflow: hidden; 
    scroll-snap-align: start;
  }
  
  .producto-recomendado-enlace {
    display: block; 
    margin: -1px;
  }
  
  .producto-recomendado-imagen {
    width: 100%; 
    height: 220px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .producto-recomendado-info {
    margin-top: 20px;
    padding: 0 10px; 
  }
  
  .producto-recomendado-nombre {
    display: block;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    font-family: 'Anta', sans-serif;
  }
  
  .producto-recomendado-precio {
    display: block;
    font-weight: bold;
    font-family: 'Anta', sans-serif;
  }

  .carrusel-container-recommended {
    position: relative;
    width: 60%;
    margin: auto;
    overflow: hidden; 
    padding: 0 50px;
    max-width: calc(60% + 100px);
    z-index: 100;
  }
  .carrusel-flecha-izquierda,
  .carrusel-flecha-derecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
  }

  .carrusel-flecha-izquierda {
    left: 10px;
  }

  .carrusel-flecha-derecha {
    right: 10px;
  }
  
  .header-content-forms {
    text-align: center;
    padding: 20px 0;
  }
  
  .forms-logo {
    width: 150px; /* Ajusta según el tamaño de tu logo */
  }
  
  .login_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    min-height: calc(100vh - 150px);
    padding-top: 20px;
  }
  
  .login-info {
    max-width: 32.25rem;
    padding: 2.5rem;
    padding-right: 3.75rem;
    border-right: 1px solid #CCCCCC; /* Línea separadora */
    flex: 1;
  }
  
  .login-info-box {
    margin-bottom: 1.5rem;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  .login-info-text {
    flex: 1;
  }
  
  .login-info-box h4 {
    color: #333333;
    font-size: 1.0625rem;
    line-height: 1.5rem;
    font-weight: 700;
    font-family: 'Black Ops One', cursive;
    }
  
  .login-info-box span {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: normal;
    font-family: 'Anta', sans-serif;
  }
  
  .login-form {
    max-width: 32.25rem;
    padding: 2rem 1rem;
    flex: 1;
    padding-left: 3.75rem;
    padding-right: 3rem;
  }
  
  .login-form h4 {
    color: #333333;
    font-size: 1.0625rem;
    line-height: 1.5rem;
    font-weight: 700;
    font-family: 'Black Ops One', cursive;
  }
  
  .login-form form {
    margin-bottom: 10px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: normal;
    font-family: 'Anta', sans-serif;
  }
  
  
  
  .login-form a {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
  }
  
  .login-form a:hover {
    text-decoration: underline;
  }

  .google-sign-in {
    background-color: #ffffff;
    color: #757575;
    border: 1px solid #757575;
    padding: 10px 20px;
    margin-bottom: 20px; /* Espacio entre el botón de Google y el separador */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .google-sign-in:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
  }
  
  .google-logo {
    margin-right: 10px;
    width: 18px; /* Ajusta según sea necesario */
    height: 18px; /* Ajusta según sea necesario */
  }

  .separator {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-bottom: 20px; /* Espacio entre el separador y los campos de formulario */
    margin-left: 0;
    margin-right: auto;
    width: 70%;
  }
  
  .input-container {
    position: relative;
    margin-bottom: 15px; /* Espacio entre los campos de formulario */
    max-width: 20rem;
  }
  
.input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
}
  
  .forgot-password {
    display: block;
    margin-bottom: 20px; /* Espacio entre el enlace de contraseña olvidada y el botón de inicio de sesión */
    color: #007bff;
    text-decoration: none;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  .submit-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }

  .error-messages {
    color: red;
    font-size: 0.75rem;
    margin-top: 5px;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .category-header {
    display: flex;
    flex-direction: row;
    font-family: 'Black Ops One', cursive;
    text-align: center;
    font-size: 24px; 
    margin: 20px 0; 
    justify-content: space-between;
    width: 100%;
  }

  .search-filters-buttons{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    padding: 10px;
  }

  .search-filters-buttons button {
    flex: 1;
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: 'Anta', sans-serif;
  }

  .subcontent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .product-category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre productos */
  }
  
  .producto {
    flex: 0 0 auto;
    width: 260px; 
    height: 350px; 
    margin: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    overflow: hidden; 
    scroll-snap-align: start;
  }
  .producto-enlace {
    display: block; 
    margin: -1px;
  }

  .producto-imagen {
    width: 100%; 
    height: 220px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .producto-info {
    margin-top: 20px;
    padding: 0 10px; 
  }
  .producto-nombre {
    display: block;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    font-family: 'Anta', sans-serif;
  }

  .producto-precio {
    display: block;
    font-weight: bold;
    font-family: 'Anta', sans-serif;
  }
  
  .producto-marca {
    display: block;
    font-size: 0.75rem;
    font-family: 'Anta', sans-serif;
  }

  .pagination {
    margin: 20px 0;
    text-align: right;
}

.step-links {
    display: inline-block;
    font-family: Black Ops One, cursive;
}

.step-links a {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    text-decoration: none;
    font-family: Black Ops One, cursive;
}

.step-links a:hover {
  color: rgb(87, 209, 240); 
}

.first-page-btn, .last-page-btn {
    font-weight: bold;
    font-family: Black Ops One, cursive;
    border-radius: 4px;
}

.previous-page-btn, .next-page-btn {
    font-size: 1.2em;
    font-family: Black Ops One, cursive;
    border-radius: 4px;
}

.current-page {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    font-family: Black Ops One, cursive;
}