{% extends 'index.html' %}
{% load static %}
{% load my_filters %}

{% block contenido %}
<div class="content-container">
    <div class="advanced-search-header">
        <h1 class="advanced-search-title">Resultados de la búsqueda: {{total_matches}} productos</h1>
        <div class="search-filters-buttons">
            <button class="order-button" id="order-asc" onclick="orderProducts('asc')">Precio más bajo</button>
            <button class="order-button" id="order-desc" onclick="orderProducts('desc')">Precio más alto</button>
            <button class="order-button" id="reviews" onclick="orderProducts('reviews')">Mejores Opiniones</button>
            <button class="order-button" id="new" onclick="orderProducts('new')">Novedades</button>
            <button class="order-button" id="rating" onclick="orderProducts('rating')">Mejor valorados</button>
        </div>
    </div>
    <div class="subcontent-container">
      {% if matching_products %}
        <div class="pagination">
            <span class="step-links">
                {% if matching_products.has_previous %}
                    <a href="?page=1{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}{% if request.GET.name %}&name={{ request.GET.name }}{% endif %}{% if request.GET.rating %}&rating={{ request.GET.rating }}{% endif %}{% if request.GET.stock %}&stock={{ request.GET.stock }}{% endif %}{% if request.GET.keywords %}&keywords={{ request.GET.keywords }}{% endif %}{% if request.GET.brand %}&brand={{ request.GET.brand }}{% endif %}{% if request.GET.ingredients %}&ingredients={{ request.GET.ingredients }}{% endif %}{% if request.GET.flavor %}&flavor={{ request.GET.flavor }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}" class="first-page-btn">1</a>
                    <a href="?page={{ matching_products.previous_page_number }}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}{% if request.GET.name %}&name={{ request.GET.name }}{% endif %}{% if request.GET.rating %}&rating={{ request.GET.rating }}{% endif %}{% if request.GET.stock %}&stock={{ request.GET.stock }}{% endif %}{% if request.GET.keywords %}&keywords={{ request.GET.keywords }}{% endif %}{% if request.GET.brand %}&brand={{ request.GET.brand }}{% endif %}{% if request.GET.ingredients %}&ingredients={{ request.GET.ingredients }}{% endif %}{% if request.GET.flavor %}&flavor={{ request.GET.flavor }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}" class="previous-page-btn">&larr;</a>
                {% endif %}

                <span class="current-page">
                    {{ matching_products.number }}
                </span>

                {% if matching_products.has_next %}
                    <a href="?page={{ matching_products.next_page_number }}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}{% if request.GET.name %}&name={{ request.GET.name }}{% endif %}{% if request.GET.rating %}&rating={{ request.GET.rating }}{% endif %}{% if request.GET.stock %}&stock={{ request.GET.stock }}{% endif %}{% if request.GET.keywords %}&keywords={{ request.GET.keywords }}{% endif %}{% if request.GET.brand %}&brand={{ request.GET.brand }}{% endif %}{% if request.GET.ingredients %}&ingredients={{ request.GET.ingredients }}{% endif %}{% if request.GET.flavor %}&flavor={{ request.GET.flavor }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}" class="next-page-btn">&rarr;</a>
                    <a href="?page={{ matching_products.paginator.num_pages }}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}{% if request.GET.name %}&name={{ request.GET.name }}{% endif %}{% if request.GET.rating %}&rating={{ request.GET.rating }}{% endif %}{% if request.GET.stock %}&stock={{ request.GET.stock }}{% endif %}{% if request.GET.keywords %}&keywords={{ request.GET.keywords }}{% endif %}{% if request.GET.brand %}&brand={{ request.GET.brand }}{% endif %}{% if request.GET.ingredients %}&ingredients={{ request.GET.ingredients }}{% endif %}{% if request.GET.flavor %}&flavor={{ request.GET.flavor }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}" class="last-page-btn">{{ matching_products.paginator.num_pages }}</a>
                {% endif %}
            </span>
        </div>
        <div class="advanced-search-product-container">
            {% for p in matching_products %}
            <div class="producto">
                <div class="producto-imagen">
                    <a href="{% url 'producto_detail' p.id %}" class="producto-enlace">
                        <img src="{{ p.imagen.url }}" alt="{{ p.nombre }}" class="producto-imagen">
                    </a>
                </div>
                <div class="producto-info">
                    <span class="producto-nombre">{{ p.nombre }}</span>
                    <span class="producto-precio">{{ p.precio }}€</span>
                    <span class="producto-marca">{{ p.marca.nombre }}</span>
                    <div class="producto-rating">
                        {% for i in 0|to:4 %}
                            {% with i|add:1 as next %}
                                {% if p.rating_original > i %}
                                    {% if p.rating_original < next %}
                                        <i class="fas fa-star-half-alt"></i> <!-- Media estrella -->
                                    {% else %}
                                        <i class="fas fa-star"></i> <!-- Estrella llena -->
                                    {% endif %}
                                {% else %}
                                    <i class="far fa-star"></i> <!-- Estrella vacía -->
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if matching_products.has_previous %}
                    <a href="?page=1{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}{% if request.GET.name %}&name={{ request.GET.name }}{% endif %}{% if request.GET.rating %}&rating={{ request.GET.rating }}{% endif %}{% if request.GET.stock %}&stock={{ request.GET.stock }}{% endif %}{% if request.GET.keywords %}&keywords={{ request.GET.keywords }}{% endif %}{% if request.GET.brand %}&brand={{ request.GET.brand }}{% endif %}{% if request.GET.ingredients %}&ingredients={{ request.GET.ingredients }}{% endif %}{% if request.GET.flavor %}&flavor={{ request.GET.flavor }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}" class="first-page-btn">1</a>
                    <a href="?page={{ matching_products.previous_page_number }}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}{% if request.GET.name %}&name={{ request.GET.name }}{% endif %}{% if request.GET.rating %}&rating={{ request.GET.rating }}{% endif %}{% if request.GET.stock %}&stock={{ request.GET.stock }}{% endif %}{% if request.GET.keywords %}&keywords={{ request.GET.keywords }}{% endif %}{% if request.GET.brand %}&brand={{ request.GET.brand }}{% endif %}{% if request.GET.ingredients %}&ingredients={{ request.GET.ingredients }}{% endif %}{% if request.GET.flavor %}&flavor={{ request.GET.flavor }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}" class="previous-page-btn">&larr;</a>
                {% endif %}

                <span class="current-page">
                    {{ matching_products.number }}
                </span>

                {% if matching_products.has_next %}
                    <a href="?page={{ matching_products.next_page_number }}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}{% if request.GET.name %}&name={{ request.GET.name }}{% endif %}{% if request.GET.rating %}&rating={{ request.GET.rating }}{% endif %}{% if request.GET.stock %}&stock={{ request.GET.stock }}{% endif %}{% if request.GET.keywords %}&keywords={{ request.GET.keywords }}{% endif %}{% if request.GET.brand %}&brand={{ request.GET.brand }}{% endif %}{% if request.GET.ingredients %}&ingredients={{ request.GET.ingredients }}{% endif %}{% if request.GET.flavor %}&flavor={{ request.GET.flavor }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}" class="next-page-btn">&rarr;</a>
                    <a href="?page={{ matching_products.paginator.num_pages }}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}{% if request.GET.name %}&name={{ request.GET.name }}{% endif %}{% if request.GET.rating %}&rating={{ request.GET.rating }}{% endif %}{% if request.GET.stock %}&stock={{ request.GET.stock }}{% endif %}{% if request.GET.keywords %}&keywords={{ request.GET.keywords }}{% endif %}{% if request.GET.brand %}&brand={{ request.GET.brand }}{% endif %}{% if request.GET.ingredients %}&ingredients={{ request.GET.ingredients }}{% endif %}{% if request.GET.flavor %}&flavor={{ request.GET.flavor }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}" class="last-page-btn">{{ matching_products.paginator.num_pages }}</a>
                {% endif %}
            </span>
        </div>
        {% else %}
            <span class="no-products-message">No se han encontrado productos que concuerden con la búsqueda.</span>
        {% endif %}
    </div>
</div>
{% endblock %}