{% extends 'index.html' %}
{% load static %}
{% load my_filters %}

{% block encabezado %}
  <h1>SuppInfo</h1>
{% endblock %}

{% block contenido %}
<div class="faq-content">
  <h2>Preguntas Frecuentes</h2>
  <main>
    <section>
        <h3>¿Cómo funciona SuppInfo?</h3>
        <p>SuppInfo es un comparador y recomendador de productos de suplementación deportiva. Utilizamos algoritmos y análisis detallado para ayudarte a encontrar los productos que mejor se adapten a tus necesidades y preferencias.</p>
    </section>
    <section>
        <h3>¿Qué tipo de productos puedo encontrar en SuppInfo?</h3>
        <p>En SuppInfo ofrecemos una amplia gama de productos de suplementación deportiva, que incluyen proteínas, aminoácidos, creatina, pre-entrenamientos, vitaminas, minerales y más. Nuestra base de datos se actualiza regularmente para incluir los últimos productos disponibles en el mercado.</p>
    </section>
    <section>
        <h3>¿Cómo puedo confiar en las recomendaciones de SuppInfo?</h3>
        <p>Nuestras recomendaciones se basan en criterios objetivos y análisis exhaustivos de productos, incluyendo ingredientes, valor nutricional, revisiones de usuarios y opiniones de expertos en el campo de la suplementación deportiva. Además, permitimos a los usuarios dejar sus propias reseñas y calificaciones para ayudar a otros en su decisión de compra.</p>
    </section>
    <section>
        <h3>¿Es seguro comprar a través de SuppInfo?</h3>
        <p>SuppInfo no realiza transacciones de compra directa. Simplemente proporcionamos enlaces a sitios web de terceros donde puedes comprar los productos recomendados. Es importante revisar las políticas de privacidad y seguridad de estos sitios antes de realizar cualquier compra.</p>
    </section>
    <section>
        <h3>¿Cómo puedo contactar con el equipo de SuppInfo?</h3>
        <p>Si tienes alguna pregunta, comentario o inquietud, no dudes en ponerte en contacto con nosotros. Puedes enviarnos un correo electrónico a <a href="mailto:info@suppinfo.net">info@suppinfo.net</a>. Estamos aquí para ayudarte en cualquier momento.</p>
    </section>
    <section>
        <h3>¿Ofrecen garantías de devolución?</h3>
        <p>SuppInfo no gestiona las políticas de devolución o garantías de los productos recomendados, ya que estas son responsabilidad de los vendedores individuales. Sin embargo, en caso de que encuentres algún problema con un producto recomendado a través de nuestro sitio, te recomendamos que te pongas en contacto directamente con el vendedor para obtener ayuda y resolver cualquier problema.</p>
    </section>
    <section>
        <h3>¿Cómo puedo sugerir un nuevo producto para que lo incluyan en SuppInfo?</h3>
        <p>Nos encanta recibir sugerencias de nuestros usuarios. Si tienes algún producto en mente que crees que deberíamos incluir en nuestra base de datos, por favor envíanos un correo electrónico a <a href="mailto:info@suppinfo.net">info@suppinfo.net</a> con la información relevante sobre el producto. Nos esforzamos por mantener nuestra base de datos actualizada con los últimos productos disponibles en el mercado.</p>
    </section>
</main>
</div>
{% endblock %}
