{% load static %}

<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='utf-8'>
  <link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/inicio.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/registro.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/filter_by_category.css' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">

  <title>SuppInfo - Suplementación deportiva</title>
  
</head>
<body>

  <header class="index_header">
    {% block encabezado %}
      <h1>SuppInfo</h1>
    {% endblock %}
    <nav class="navBar">
      <dl>
        <dd><a href='/'>Inicio</a></dd>
        <dd><a href='/filter_by_category'>Filtrar por categoría</a></dd>
        <dd><a href='/filter_by_brand'>Filtrar por Marca</a></dd>
        {% if user.is_authenticated %}
          {% if user.is_superuser %}
            <dd><a href='/carga'>Cargar Base de Datos</a></dd>
            <dd><a href='/eliminar_base_datos'>Eliminar Base de Datos</a></dd>
          {% endif %}
          <dd><a href='/cerrar_sesion'>Cerrar Sesión</a></dd>
        {% else %}
          <dd><a href='/inicio_sesion'>Iniciar Sesión</a></dd>
          <dd><a href='/registro'>Regístrate</a></dd>
        {% endif %}
      </dl>
    </nav>
  </header>

  <section>
    {% block contenido %}{% endblock %}
  </section>

  {% block pie %}{% endblock %}

  <!--<script src="{% static 'js/sticky-header.js' %}"></script>-->
</body>
</html>
