{% load static %}

<!DOCTYPE html>
<html lang='es'>

<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/stylesheet.css' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">
  <script src="{% static 'js/scripts.js' %}"></script>
  <title>SuppInfo - Suplementación deportiva</title>

</head>

<body>

  <header class="index-header">
    <div class="header-content">
      <div class="logo-container">
        <a href="/" class="logo-link">
          <img src="{% static 'icons/logo.png' %}" alt="Logo" class="logo">
        </a>
      </div>
      <div class="search-container">
        <input type="text" id="search-input" placeholder="Buscar productos..." class="search-input" oninput="searchProducts()">
        <div id="search-results" class="search-results"></div>
      </div>
      <div class="user-controls">
        {% if user.is_authenticated %}
          {% if user.is_superuser %}
            <a href="/admin_profile" class="admin-panel-icon">
              <img src="{% static 'icons/admin-icon.png' %}" alt="Admin">
            </a>
          {% endif %}
          <a href="/user_profile" class="user-profile-icon">
            <img src="{% static 'icons/user-icon.png' %}" alt="Perfil">
          </a>
          <a href="/cerrar_sesion" class="logout-icon">
            <img src="{% static 'icons/logout-icon.png' %}" alt="Cerrar Sesión">
          </a>
        {% else %}
          <a href="/inicio_sesion" class="login-icon">
            <img src="{% static 'icons/login-icon.png' %}" alt="Iniciar Sesión">
          </a>
          <a href="/registro" class="register-icon">
            <img src="{% static 'icons/register-icon.png' %}" alt="Regístrate">
          </a>
        {% endif %}
      </div>
    </div>
    <div class="menu-container">
      
      <img src="{% static 'icons/menu-icon.png' %}" alt="Menú" class="menu-icon"">
      <div class="categories-container" id="categoriesMenu">
        <span class="categories-title">CATEGORÍAS</span>
        <ul class="categories-menu-displayed">
          {% for categoria in categorias %}
          <li class="category-item">
            <a href="">{{ categoria.nombre }}</a>
            <ul class="subcategory-nav">
              {% for subcategoria in subcategorias %}
              {% if subcategoria.categoria.id == categoria.id %}
                <li>
                  <a class="subcategory-item" href="">{{ subcategoria.nombre }}</a>
                </li>
              {% endif %}
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </header>

  <section class="page-content">
    {% block contenido %}{% endblock %}
  </section>

  {% block pie %}{% endblock %}
</body>
</html>