{% load static %}

<!DOCTYPE html>
<html lang='es'>

<head>
  <meta charset='utf-8'>
  <link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/inicio.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/registro.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/filter_by_category.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/admin_profile.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/user_profile.css' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">

  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


  <title>SuppInfo - Suplementación deportiva</title>

</head>

<body>

  <header class="index_header">
    {% block encabezado %}
    <h1>SuppInfo</h1>
    {% endblock %}
    <nav class="navBar">
      <dl>
        <dd><a href='/'>Inicio</a></dd>
        <dd><a href='/filter_by_category'>Filtrar por categoría</a></dd>
        <dd><a href='/filter_by_brand'>Filtrar por Marca</a></dd>
        {% if user.is_authenticated %}
        {% if user.is_superuser %}
        <dd><a href='/admin_profile'>Panel de administración</a></dd>
        {% endif %}
        <dd><a href='/user_profile'>Mi perfil</a></dd>
        <dd><a href='/cerrar_sesion'>Cerrar Sesión</a></dd>
        {% else %}
        <dd><a href='/inicio_sesion'>Iniciar Sesión</a></dd>
        <dd><a href='/registro'>Regístrate</a></dd>
        {% endif %}
      </dl>
    </nav>
  </header>

  <section>
    {% block contenido %}{% endblock %}
  </section>

  {% block pie %}{% endblock %}

  <!--<script src="{% static 'js/sticky-header.js' %}"></script>-->
</body>
</html>