{% extends 'index.html' %}

{% block encabezado %}
  <h1>SuppInfo</h1>
{% endblock %}

{% block contenido %}
  <div class="productos-recomendados-container">
    {% for p in productos_recomendados %}
      <div class="producto-recomendado">
        <img src="{{ p.imagen.url }}" alt="{{ p.nombre }}" class="producto-recomendado-imagen">
        <div class="producto-recomendado-info">
          <span class="producto-recomendado-nombre">{{ p.nombre }}</span>
          <span class="producto-recomendado-precio">{{ p.precio }}€</span>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}