{% extends 'index.html' %}
{% load static %}
{% load my_filters %}

{% block encabezado %}
  <h1>SuppInfo</h1>
{% endblock %}

{% block contenido %}
  <div class="cookies-policy-content">
    <h2>Política de cookies</h2>
    <p>Última actualización: 17/03/2024</p>
    <ul>
      <li> 
        Esta política de cookies explica cómo SuppInfo utiliza cookies y tecnologías similares para reconocerte cuando visitas nuestro sitio web <a href="https://suppinfo.net">suppinfo.net</a>. Explica qué son estas tecnologías y por qué las usamos, así como tus derechos para controlar su uso.
      </li>
    </ul>
    <main>
      <section>
          <h3>¿Qué son las cookies?</h3>
          <p>Las cookies son pequeños archivos de texto que se colocan en tu dispositivo cuando visitas un sitio web. Se utilizan ampliamente para hacer que los sitios web funcionen de manera más eficiente, así como para proporcionar información a los propietarios del sitio.</p>
      </section>
      <section>
          <h3>¿Por qué utilizamos cookies?</h3>
          <p>Utilizamos cookies por varias razones, que se detallan a continuación. Desafortunadamente, en la mayoría de los casos, no hay opciones estándar de la industria para deshabilitar las cookies sin deshabilitar por completo la funcionalidad y las características que agregan a este sitio. Se recomienda que dejes todas las cookies si no estás seguro de si las necesitas o no en caso de que se utilicen para proporcionar un servicio que utilizas.</p>
      </section>
      <section>
          <h3>Tipos de cookies que utilizamos</h3>
          <ul>
              <li><strong>Cookies esenciales:</strong> Estas cookies son necesarias para que nuestro sitio web funcione correctamente. Nos permiten autenticar usuarios y mantener la seguridad del sitio. No se pueden desactivar.</li>
              <li><strong>Cookies de rendimiento:</strong> Estas cookies nos permiten realizar un seguimiento de las visitas y fuentes de tráfico para poder medir y mejorar el rendimiento de nuestro sitio. Nos ayudan a saber qué páginas son más populares y menos populares, y cómo los visitantes se mueven por el sitio. Toda la información que recogen estas cookies es agregada y, por lo tanto, anónima. Si no permites estas cookies, no sabremos cuándo visitaste nuestro sitio y no podremos monitorizar su rendimiento.</li>
              <li><strong>Cookies de funcionalidad:</strong> Estas cookies permiten que el sitio web recuerde las opciones que has elegido (como tu nombre de usuario, idioma o región) y proporcionan características mejoradas y más personalizadas. Por ejemplo, un sitio web puede proporcionarte información localizada mediante el almacenamiento de tu ubicación actual en una cookie. Estas cookies también se pueden utilizar para recordar los cambios que has realizado en el tamaño del texto, fuentes y otras partes de las páginas web que puedes personalizar. La información que recopilan estas cookies puede ser anónima y no pueden rastrear tu actividad de navegación en otros sitios web.</li>
          </ul>
      </section>
      <section>
          <h3>Control de cookies</h3>
          <p>Puedes controlar y gestionar las cookies de diversas formas. Ten en cuenta que eliminar o deshabilitar las cookies puede afectar tu experiencia en nuestro sitio web.</p>
          <ul>
            <li><strong>Configuración del navegador:</strong> La mayoría de los navegadores te permiten controlar las cookies a través de su configuración de privacidad. Consulta la documentación de tu navegador para obtener más información sobre cómo administrar tus cookies.</li>
            <li><strong>Herramientas de terceros:</strong> Algunas herramientas de terceros, como Google Analytics, también te permiten gestionar las cookies de seguimiento utilizadas en muchos sitios web.</li>
          </ul>
      </section>
      <section>
          <h3>Cambios en nuestra política de cookies</h3>
          <p>Podemos actualizar nuestra política de cookies de vez en cuando. Te recomendamos que revises esta página periódicamente para estar al tanto de cualquier cambio. Los cambios y aclaraciones tendrán efecto inmediato una vez publicados en el sitio web.</p>
      </section>
      <section>
          <h3>Más información</h3>
          <p>Si tienes alguna pregunta sobre nuestra política de cookies, no dudes en contactarnos en <a href="mailto:info@suppinfo.net">info@suppinfo.net</a>.</p>
      </section>
    </main>
  </div>
{% endblock %}
