{% extends 'index.html' %}
{% load static %}
{% load my_filters %}

{% block encabezado %}
  <h1>SuppInfo</h1>
{% endblock %}

{% block contenido %}
  <div class="privacy-policy-content">
    <h2>Política de privacidad</h2>
    <p>Última actualización: 17/03/2024</p>
    <ul>
      <li> 
        Esta política de privacidad explica cómo SuppInfo recopila, utiliza y comparte información personal cuando utilizas nuestro sitio web <a href="https://suppinfo.net">suppinfo.net</a>.
      </li>
    </ul>
    <main>
      <section>
          <h2>¿Qué información recopilamos?</h2>
          <h1>Información que nos proporcionas</h1>
          <p>Recopilamos información que nos proporcionas directamente cuando interactúas con nuestro sitio web. Por ejemplo, cuando te registras para recibir nuestro boletín informativo, completas un formulario de contacto o participas en un concurso o encuesta.</p>
        </section>
      <section>
          <h1>Información recopilada automáticamente</h1>
          <p>Cuando visitas nuestro sitio web, podemos recopilar cierta información automáticamente a través de tecnologías como cookies, registros del servidor web y balizas web. Esta información puede incluir tu dirección IP, tipo de navegador, proveedor de servicios de Internet, páginas de referencia/salida, sistema operativo, sello de fecha/hora y datos de flujo de clics.</p>
      </section>
      <section>
        <h1>Información que recopilamos de fuentes externas</h1>
        <p>También podemos obtener información sobre ti de fuentes externas. Por ejemplo, podemos recibir información demográfica o de intereses de terceros proveedores de servicios de análisis.</p>
      </section>
      <section>
          <h2>Cómo utilizamos tu información</h2>
          <ul>
              <li>Personalizar y mejorar tu experiencia en nuestro sitio web.</li>
              <li>Proporcionar y mantener nuestro sitio web.</li>
              <li>Comunicarnos contigo, ya sea para responder a consultas, enviar información sobre nuestros productos y servicios, o para fines de marketing.</li>
              <li>Detectar, prevenir y abordar problemas técnicos.</li>
          </ul>
      </section>
      <section>
          <h2>Cómo compartimos tu información</h2>
          <p>Podemos compartir tu información personal con terceros proveedores de servicios que realizan servicios en nuestro nombre, como procesamiento de pagos, análisis de datos, marketing y publicidad, y servicio al cliente. También podemos divulgar tu información cuando sea necesario para cumplir con la ley, hacer cumplir nuestras políticas, o proteger nuestros derechos, propiedad o seguridad, o los de otros.</p>
        </section>
      <section>
          <h2>Tus derechos de privacidad</h2>
          <p>Tienes ciertos derechos en relación con tu información personal, que pueden variar según tu ubicación. Estos derechos pueden incluir el acceso, corrección, eliminación, restricción, portabilidad y objeción al procesamiento de tu información personal.</p>
        </section>
      <section>
        <h2>Cambios en nuestra política de privacidad</h2>
        <p>Podemos actualizar nuestra política de privacidad de vez en cuando. Te recomendamos que revises esta página periódicamente para estar al tanto de cualquier cambio. Los cambios y aclaraciones tendrán efecto inmediato una vez publicados en el sitio web.</p>
      </section>
      <section>
          <h2>Más información</h2>
          <p>Si tienes alguna pregunta sobre nuestra política de privacidad, no dudes en contactarnos en <a href="mailto:info@suppinfo.net">info@suppinfo.net</a></a>.</p>
      </section>
    </main>
  </div>
{% endblock %}
