{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/stylesheet.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
  <title>SuppInfo - Registro</title>
</head>
<body>
    <header class="header-content-forms" id="register-form">
      <a href="/" class="logo-link">
        <img src="{% static 'icons/logo.png' %}" alt="Logo" class="forms-logo">
      </a>
    </header>
    <main class="login_container">
        <section class="login-info">
          <div class="login-info-box">
            <svg></svg>
            <div class="login-info-text">
              <h4>Lista de deseos</h4>
              <span>Guarda tus productos favoritos en las listas de deseos personalizadas.</span>
            </div>
          </div>

          <div class="login-info-box">
            <svg></svg>
            <div class="login-info-text">
              <h4>Recomendaciones basadas en el usuario</h4>
              <span>Descubre las mejores recomendaciones basadas en tus gustos personales.</span>
            </div>
          </div>
        </section>

        <section class="login-form">
          <h4>Registro</h4>
          <form method="post">
            {% csrf_token %}
            <div class="input-container">
              <input type="text" name="username" placeholder="Nombre de usuario" required>
              {% if register_form.username.errors %}
                <div class="error-messages">
                  {{ register_form.username.errors.as_text }}
                </div>
              {% endif %}
            </div>
            <div class="input-container">
              <input type="email" name="email" placeholder="Email" required>
              {% if register_form.email.errors %}
                <div class="error-messages">
                  {{ register_form.email.errors.as_text }}
                </div>
              {% endif %}
            </div>
            <div class="input-container">
              <input type="password" name="password1" placeholder="Contraseña" required>
              {% if register_form.password1.errors %}
                <div class="error-messages">
                  {{ register_form.password1.errors.as_text }}
                </div>
              {% endif %}
            </div>
            <div class="input-container">
              <input type="password" name="password2" placeholder="Confirmar contraseña" required>
              {% if register_form.password2.errors %}
                <div class="error-messages">
                  {{ register_form.password2.errors.as_text }}
                </div>
              {% endif %}
            </div>
            <button type="submit" class="submit-btn">Registrarse</button>
          </form>
          <hr class="separator" />
          <a href='/inicio_sesion'>¿Ya tienes una cuenta? Inicia sesión</a>
        </section>
      
    </main>
  
</body>
</html>