{% extends 'index.html' %}
{% load static %}
{% load my_filters %}

{% block encabezado %}
  <h1>SuppInfo</h1>
{% endblock %}

{% block contenido %}
<div class="terms-and-conditions-content">
  <h2>Términos y Condiciones</h2>
  <p>Última actualización: 17/03/2024</p>
  <main>
    <section>
        <h3>Aceptación de los Términos</h3>
        <p>Al acceder o utilizar el Servicio, aceptas estar sujeto a estos Términos. Si no estás de acuerdo con alguna parte de los términos, entonces no deberías acceder al Servicio.</p>
    </section>
    <section>
        <h3>Propiedad Intelectual</h3>
        <p>El Servicio y su contenido original, características y funcionalidades son propiedad de SuppInfo y están protegidos por leyes de derechos de autor, marcas registradas, patentes y otros derechos de propiedad intelectual.</p>
    </section>
    <section>
        <h3>Enlaces a Otros Sitios Web</h3>
        <p>Nuestro Servicio puede contener enlaces a sitios web de terceros o servicios que no son propiedad ni están controlados por SuppInfo. No tenemos control ni asumimos responsabilidad por el contenido, políticas de privacidad o prácticas de sitios web o servicios de terceros. Aceptas además que SuppInfo no será responsable, directa o indirectamente, por cualquier daño o pérdida causados o presuntamente causados por o en conexión con el uso o la confianza en dicho contenido, bienes o servicios disponibles en o a través de dichos sitios web o servicios.</p>
    </section>
    <section>
        <h3>Limitación de Responsabilidad</h3>
        <p>En ningún caso SuppInfo, sus directores, empleados, socios o afiliados serán responsables por daños indirectos, incidentales, especiales, consecuentes o punitivos, incluyendo, entre otros, pérdida de beneficios, datos, uso, buena voluntad u otras pérdidas intangibles, resultantes de (i) tu acceso o uso del Servicio; (ii) cualquier conducta o contenido de terceros en el Servicio; (iii) cualquier contenido obtenido del Servicio; y (iv) acceso no autorizado, uso o alteración de tu transmisión o contenido, ya sea que se base en garantía, contrato, agravio (incluyendo negligencia) o cualquier otra teoría legal, ya sea que hayamos sido informados o no de la posibilidad de tales daños, e incluso si se encuentra un recurso limitado en su defecto.</p>
    </section>
    <section>
        <h3>Ley Aplicable</h3>
        <p>Estos Términos se regirán e interpretarán de acuerdo con las leyes de España, sin tener en cuenta sus disposiciones sobre conflictos de leyes.</p>
    </section>
    <section>
        <h3>Cambios en los Términos</h3>
        <p>Nos reservamos el derecho, a nuestra única discreción, de modificar o reemplazar estos Términos en cualquier momento. Si una revisión es importante, trataremos de proporcionar un aviso con al menos 30 días de anticipación antes de que los nuevos términos entren en vigencia. Lo que constituye un cambio importante será determinado a nuestra sola discreción.</p>
    </section>
    <section>
        <h3>Contacto</h3>
        <p>Si tienes alguna pregunta sobre estos Términos, por favor contáctanos en <a href="mailto:info@suppinfo.net">info@suppinfo.net</a>.</p>
    </section>
</main>
</div>
{% endblock %}
